.validation-error {
  height: 20px;
  color: red;
  font-size: 12px;
}

body form .form-group {
  height: 20px;
}

body form .form-header {
  font-weight: bold;
}

/*PROJECT VIEW*/
.projects-box {
  border-radius: 10px;
  border: 1px solid #37474f;
}

.projects-title  {
  font-size: 1.3em;
  color: white;
  text-decoration: italic;
  padding: 2%;

}

.add-project {
  margin-top: 25px;
}