
/*RECORDING VIEW*/

#log {
  font-style: italic;
}

.recording-element {
  padding: 5px;
}

/*SIGN-IN/UP VIEWS*/

.validation-error {
  height: 20px;
  color: red;
  font-size: 12px;
}

body form .form-group {
  height: 20px;
}

body form .form-header {
  font-weight: bold;
}

/*HOME VIEW*/

/*.main-view {
background-color: #263238 ;
width: 100%;
height:100%;
position: absolute;
}*/

.land-text p{
  padding: 5%;
}

.landing-form {

  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: white;

}

#landing-box {
  border: 2px solid black;
  padding: 5%;
  background-color: white;
  opacity: .5;
  text-align: center;
  position: relative;
  margin: 10%;
}

#landing-title {
  text-align: center;
}


 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }


video#intro-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
/*    background: url() no-repeat;
    background-size: cover; 
*/

    filter:blur(5px);
  -o-filter:blur(5px);
  -ms-filter:blur(5px);
  -moz-filter:blur(5px);
  -webkit-filter:blur(5px);
   
}



.panel-lyric {
    min-height:307px;
    max-height:307px;
    overflow-y:scroll;
}

#info-form {
  display:none;
}


/* Lyric Styles */
.lyric-textarea:read-only {
  color: gray;
}

/* Lyric Styles */
.all-projects-title {
  background-color: gray;
}

.editor {
  width: 100% !important;
}

.title {
  font-weight: bold;
}

.title > .accordion-title {
  background-color: #00558b !important;
  color: #fff !important;
}

.title > .accordion-title:hover {
  background-color: #004977 !important;
}