
/*RECORDING VIEW*/

#log {
  font-style: italic;
}

.recording-element {
  padding: 5px;
}

/*SIGN-IN/UP VIEWS*/

.validation-error {
  height: 20px;
  color: red;
  font-size: 12px;
}

body form .form-group {
  height: 20px;
}

body form .form-header {
  font-weight: bold;
}

/*HOME VIEW*/

.main-view {
background-color: #263238 ;
width: 100%;
height:100%;
position: absolute;
}


/*LANDING VIEW*/
.land-text {
  margin: 0 20%; 
  color:white;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

.land-text p{
  padding: 5%;
}

.landing-form {

  position: relative;
  top: 50%;
  transform: translateY(30%);
  color: white;

}

 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }


video#intro-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
/*    background: url() no-repeat;
    background-size: cover; 
*/

    filter:blur(5px);
  -o-filter:blur(5px);
  -ms-filter:blur(5px);
  -moz-filter:blur(5px);
  -webkit-filter:blur(5px);
   
}

/*MAIN VIEW*/

.main-view {
background-color: #eceff1;
width: 100%;
height:100%;
position: absolute;
}

/*PROJECTS VIEW*/
.projects-box {
  border-radius: 10px;
  border: 1px solid #37474f;
}

.projects-title  {
  font-size: 1.3em;
  color: white;
  text-decoration: italic;
  padding: 2%;

}

.add-project {
  margin-top: 25px;
}

/*DASH VIEW*/

.panel-lyric {
    max-height:308px;
    overflow-y:scroll;
}



