/* Import Foundation */
@import
  '../node_modules/foundation-apps/scss/foundation';


// THEME COLORS

$primary-color: #01465d;
$primary-color-darken: darken( $primary-color, 5% );
$primary-color-lighten: lighten( $primary-color, 5% );


$secondary-color: #3fc380;
$secondary-color-darken: darken( $secondary-color, 5% ); 

$tertiary-color: #fefefe;
$tertiary-color-darken: darken( $tertiary-color, 5% );

$quaternary-color: #b0aac2;
$quaternary-color-darken: darken( $quaternary-color, 5% );

$dark-color: #232323;
$dark-color-lighten: lighten( $dark-color, 5% );
$light-color: #f2efe8;



//PROJECT DASH BOARD
.dash-menu-bar {
// This placeholder selector gets you the core structural styles for the menu
@extend %menu-bar;
// Set the orientation and sizing of the menu bar
@include menu-bar-layout(
$orientation: horizontal, // Can be horizontal or vertical
$stretch: true // Set to false for a condensed menu
);
// Add styles for the menu bar items and text
@include menu-bar-style(
$background: $primary-color, // Background color of items
/*$background-hover: #333, // Background color of item on hover
$background-active: #666, // Background color of an active item */
$color: $dark-color, // Text color of items
// $color-hover, // Text color of item on hover
// $color-active, // Text color of item when active
$autocolor: false // When true, all the above colors will be derived from $background
);

}

.card-recordings {
  @include card-container(
  $background: #fff, // Background color
  $color: #000, // Text color
  $border: 1px solid #000, // Border
  $radius: 4px, // Border radius
  $shadow: 0 4px 10px black, // Box shadow
  $padding: 1rem,
  $margin: 1rem // Margin bottom
  );
  }
  // This is a card divider
  .recordings-card-divider:hover {
    background:#263238;
  }
  .recordings-card-divider {
    color:white;
    font-size: 1.3rem;
  @include card-divider(
  $background: #212121,
  $padding: 1rem
  );
  }
  // This is a card section
  .recordings-card-section {
  @include card-section(
  $padding: 1rem
  );
}

.card-notes {
 
  @include card-container(
  $background: #fff, // Background color
  $color: #000, // Text color
  $border: 1px solid #000, // Border
  $radius: 4px, // Border radius
  $shadow: 0 4px 10px black, // Box shadow
  $padding: 1rem,
  $margin: 1rem // Margin bottom
  );
  }
  // This is a card divider
  .notes-card-divider:hover {
    background:#263238;
  }
  .notes-card-divider {
    color:white;
    font-size: 1.3rem;
  @include card-divider(
  $background: #212121,
  $padding: 1rem
  );
  }
  // This is a card section
  .notes-card-section {
  @include card-section(
  $padding: 1rem
  );
}

.card-lyrics {
  @include card-container(
  $background: #fff, // Background color
  $color: #000, // Text color
  $border: 1px solid #000, // Border
  $radius: 4px, // Border radius
  $shadow: 0 4px 10px black, // Box shadow
  $padding: 1rem,
  $margin: 1rem // Margin bottom
  );
  }
  // This is a card divider
  .lyrics-card-divider:hover {
    background:#263238;
  }
  .lyrics-card-divider {
    color:white;
    font-size: 1.3rem;
  @include card-divider(
  $background: #212121,
  $padding: 1rem
  );
  }
  // This is a card section
  .lyrics-card-section {
  @include card-section(
  $padding: 1rem
  );
}

.card-stablature {
  img {
    max-height: 200px;
  }
  
  @include card-container(
  $background: #fff, // Background color
  $color: #000, // Text color
  $border: 1px solid #000, // Border
  $radius: 4px, // Border radius
  $shadow: 0 4px 10px black, // Box shadow
  $padding: 1rem,
  $margin: 1rem // Margin bottom
  );
  }
  // This is a card divider
  .stablature-card-divider:hover {
    background:#263238;
  }
  .stablature-card-divider {
    color:white;
    font-size: 1.3rem;
  @include card-divider(
  $background: #212121,
  $padding: 1rem
  );
  }
  // This is a card section
  .stablature-card-section {
  @include card-section(
  $padding: 1rem
  );
}

// PROJECTS VIEW:

.project-search {
  input{ 
    border: 1px solid #000;
    // shadow: 0 4px 1-px black;
  }
}

#sort-text {
  padding-top: .5rem;
  padding-bottom: 0.5rem;
} 

.project-author {
  color: $tertiary-color;
  &:hover {
      color: $tertiary-color;
    }
}

#project-icon {
  float: right;
  color: $tertiary-color;
  &:hover {
    color: $secondary-color;
  } 
}

#resource-icon {
  &:hover {
    color: $secondary-color;
  }  
}

#project-card-header {
  background-color: $dark-color;
  &:hover {
      background-color: $dark-color-lighten;
    }
}



.public-project {
  
  // $switch-background-active: black;
  @include switch;
  @include switch-style(
    $background-active: #000
    );
}
  // $switch-background-active: #000;


  /*RECORDING VIEW*/


  .recording-element {
    padding: 5px;
  }

  .blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  color: #FF0000
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

  /*SIGN-IN/UP VIEWS*/

  .validation-error {
    height: 20px;
    color: red;
    font-size: 12px;
  }

  audio {
    width: 75%;
  }

  body form .form-group {
    height: 20px;
  }

  body form .form-header {
    font-weight: bold;
  }

  .form-header {
    color: $light-color;
  }

  .land-text p {
    padding: 5%;
  }

  .btn-check {
    border-style: solid;
    border-color: white;
  }

  .landing-form {
    position: relative;
    top: 100px;
    transform: translateY(-1%);
    color: grey;
  }
  
  .form-btn {
  background-color: #232323 !important;
  border:solid;
  border-color:grey;
  border-width:1px;
  opacity: 0.9;
  
    &:hover {
      background-color:smartscale(#232323, 7%) !important;
    }
  }

  .landing-form label {
    color:grey;
  }

  #landing-box {
    padding: 5%;
    background-color: #232323;
    color: white;
    opacity: .9;
    text-align: center;
    position: relative;
    margin-top: 20%;
  }

  #landing-title {
    text-align: center;
  }


   /* label color */
     .input-field label {
       color: #000;
     }
     /* label focus color */
     .input-field input[type=text]:focus + label {
       color: #000;
     }
     /* label underline focus color */
     .input-field input[type=text]:focus {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     /* valid color */
     .input-field input[type=text].valid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     /* invalid color */
     .input-field input[type=text].invalid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     /* icon prefix focus color */
     .input-field .prefix.active {
       color: #000;
     }


  video#intro-video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  /*    background: url() no-repeat;
      background-size: cover; 
  */

    //   filter:blur(5px);
    // -o-filter:blur(5px);
    // -ms-filter:blur(5px);
    // -moz-filter:blur(5px);
    // -webkit-filter:blur(5px);
     
  }

  /*ABOUT PAGE*/

  .team-header {
    color: #323232;
  }

  #team-field {
    color: white;
  }

  #team-entry {
    padding: 1em;
  }

  /*LIKE BUTTON DIRECTIVE*/

  #like-count,
  #like-btn,
  #like-text {
    padding-right: 0.5em;
  }

  .active {

  }

  .inactive {
    color: #00558b;
  }

  /*DASH VIEW*/

  .panel-lyric {
      min-height:210px;
      max-height:210px;
      overflow-y:scroll;
  }

  .resource-entry {
    padding: 10px;
    margin: 5px;
  }

  textarea {
    height: auto;
  }


  .body-entry {
    min-height: 100px;
    height: auto;
  }

  textarea.title-box {
    min-height: 50px !important;
  }

  textarea.dashboard {
    resize: vertical;
    height: 100px;
  }

  /* Lyric Styles */
  .all-projects-title {
    background-color: gray;
  }

  .editor {
    width: 100% !important;
  }

  .spaced {
    width: 100%;
    background-color: $primary-color;
    color: $light-color;
    padding-top: 5px;
  }

  .button {
    background-color: $secondary-color;
    color: $light-color;
  }

  .button.contrast {
    background-color: $secondary-color;
    color: $light-color;
    &:hover {
      background-color: $secondary-color-darken;
    }
  }

  .contrast {
    color: $secondary-color;
  }
  
  .button.hollow.alert {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $dark-color !important;
    border-color: $quaternary-color !important;
    &:hover {
      background-color: $secondary-color-darken !important;
    }

  }

  .resource-search {
    height: 50px !important;
    margin-left: 16px;
    margin-right: 1px;
  }

  body {
    background-color: $tertiary-color;
    color: $dark-color;
  }
  
  .title > .accordion-title {
    background-color: $secondary-color;
    color: $light-color;
    font-weight: bold;
  }

  .title > .accordion-title:hover {
    background-color: $secondary-color-darken;
  }

  .title-bar {
    color: $light-color;
    
  }

  #dash-menu-bar-wrapper {
    background-color: $primary-color;
    margin-top: 0px;
  }

  .menu-bar {
   
    &.sort {
      background-color: $primary-color;
      color: $light-color;
      margin-right: 16px;
    }
    > li > a {
      color: $light-color;
    }
  }

  .pad-left {
    padding-left: 10px;
  }

  .pad-right {
    padding-right: 10px;
  }

  .menu-bar.right > li > a {
    margin-top: 10px;
    color: $light-color;
  }

  .dash-menu-bar {
    background-color: $primary-color;
    border: none;
    > li > a {
      color: $light-color;
    }
  }

  .menu-active {
    color: $secondary-color;
    background-color: $dark-color-lighten;
  }

  .accordion-title {
    background-color: $primary-color;
    color: $light-color;
  }

  .accordion-content {
    background-color: $tertiary-color;
  }

  .card {
    background-color: $tertiary-color;
    color: $dark-color !important;
  }
  

  .card-wrapper  {
    $background-color: $primary-color !important;
  }

  .card-divider {
    color: $light-color;
  }

  .team-card {
    width: 200px;
  }

  .menu-group {
    background-color: $dark-color;
    color: $light-color;
  }

  li {
    list-style: none;
  }

  h1 {
    color: $light-color;
    margin-top: 0px;
  }

#tour1 {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

img.team {
  max-height: 200px;
  max-width: 175px;
}

.team-card{
  margin: 10px;
}

.stack-logo {
  max-height: 100px;
  max-width: 100px;
}

.stack-card{
  padding: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  border-color: $primary-color;
}

.team-field{
  color: black;
  align: center;
}


