<div id="landing" class="vertical grid-frame">  
  <div class="align-center shrink grid-block">
    <div id="landing-box" class="vertical small-6">
      <h1 id="landing-title">ScratchTrack</h1>
      <p class="grid-block">{{ message }}</p>
      <a class="button large" ui-sref="public.signin">Get Started</a>
    </div>
  </div>
  <div class="align-right shrink small-10 grid-block">
      <a ui-sref="public.signin" class="button large">Sign In</a>
      <a ui-sref="public.signup" class="button large">Sign Up</a>
  </div>
</div>
