<div class="vertical grid-frame">  
  <div class="align-center shrink grid-block">
    <div id="landing-form" class="vertical small-6">
      <h1 id="landing-title">ScratchTrack</h1>
      <p class="grid-block">{{ message }}</p>
      <a class="button" ui-sref="public.signin">Get Started</a>
    </div>
  </div>
  <div class="grid-block">
  SignIn n stuff
  </div>

<!--   <section>
    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li class="blue-text"><a style="padding: 10px;" ui-sref="public.signin">Sign In</a><a class="btn-floating green" ui-sref="public.signin"><i class="material-icons">assignment_ind</i></a></li>
        <li class="blue-text"><a style="padding: 10px;" ui-sref="public.signup">Sign Up</a><a class="btn-floating blue" ui-sref="public.signup"><i class="material-icons">note_add</i></a></li>
      </ul>
    </div>
  </section> -->
</div>





