<container id="lyrics-container">

  <!-- Create New Lyric Sheet -->
  <section>

    <h5>Create New Lyric Sheet</h5>

    <!-- Modal Trigger for Lyric Creation -->
    <a class="waves-effect waves-light btn">Create New Lyric</a>

    <!-- Modal Structure for Lyric Creation -->
    <div>
      <div>
        <textarea type="text" ng-model="titleVal" ng-click="updateTitle(titleVal)" placeholder="Enter title here."></textarea>
        <textarea type="text" ng-model="lyricData" placeholder="Enter lyrics here."></textarea>
      </div>
      <div>
        <a href="#!" class="waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" ng-click="add(titleVal, lyricData)" class="waves-effect waves-green btn-flat">Save</a>
      </div>
    </div>

  </section>


  <!-- List of Lyric Sheets -->
  <section>

    <h5>Your Lyrics for This Project</h5>

    <!-- Accordion for Lyric Sheets -->
    <ul class="collapsible" data-collapsible="accordion">

      <li ng-repeat="lyricsheet in lyrics.data" ng-model="lyrics">
        <!-- Accordion Element Header -->
        <div class="collapsible-header row" style="overflow: hidden">
          <div class="col s6">
            {{ lyricsheet.created_at }}
            <input id="lyrictitle" ng-model="lyricsheet.name" type="text" style="border:none; color: black !important; width: 200px;" ng-click="$event.stopPropagation()" readonly="readonly">
          </div>
        </div>

        <!-- Accordion Element Body -->
        <div class="collapsible-body" ng-controller="LyricCtrl">

          <!-- Editable Lyric Area -->
          <textarea id="lyrictext" ng-model="lyricsheet.text" class="materialize-textarea" readonly="readonly">
          </textarea>

          <!-- Revision Button -->
          <!-- Modal Trigger for Lyric Revision -->
          <a class="waves-effect waves-light btn" ng-click="updateVal(lyricsheet.text); updateTitle(lyricsheet.name)" href="">Create Revision</a>

          <!-- Modal Structure for Lyric Revision -->
          <div>
            <div>
              <textarea type="text" ng-model="titleVal" ng-click="updateTitle(titleVal)" placeholder="Enter title here."></textarea>
              <textarea type="text" ng-model="val" placeholder="Enter lyrics here."></textarea>

<!--               <h4>Lyric Name</h4>
              <textarea type="text" ng-model="val"></textarea> -->
            </div>
            <div>

              <a href="#!" class="waves-effect waves-green btn-flat">Cancel</a>
              <a href="#!" class="waves-effect waves-green btn-flat" ng-click="add(titleVal, val)">Save</a>
            </div>
          </div>

          <!-- Edit Button -->
          <!-- Toggles Editable TextArea -->
          <a class="btn" id="edit-lyrics-btn" ng-click="toggleEditable('lyrictext'); toggleEditable('lyrictitle'); edit(lyricsheet.id, lyricsheet); removeOverlay()" href="">Edit</a>

          <!-- Delete Button -->
          <!-- Modal Trigger for Lyric Delete Confirmation -->
          <a class="waves-effect waves-light btn" href="">Delete</a>

          <!-- Modal Structure for Lyric Delete Confirmation -->
          <div>
            <div>
              <h4>Are You Sure That You Want To Delete This Lyric Sheet?</h4>
            </div>
            <div>
              <a href="#!" class="waves-effect waves-green btn-flat" ng-click="delete(lyricsheet.id)">Yes, Really Delete</a>
              <a href="#!" class="waves-effect waves-green btn-flat">No, Go Back To Lyrics</a>
            </div>
          </div>

        </div>
      </li>

    </ul>

  </section>

</container>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
