<container ng-click="removeOverlay()" id="lyrics-container">

  <!-- Create New Lyric Sheet -->
  <section>

    <h5>Create New Lyric Sheet</h5>

    <!-- Modal Trigger for Lyric Creation -->
    <a class="waves-effect waves-light btn modal-trigger" ng-click="removeOverlay()" href="#lyric-creation-modal">Create New Lyric</a>

    <!-- Modal Structure for Lyric Creation -->
    <div id="lyric-creation-modal" class="modal" ng-click="removeOverlay()">
      <div class="modal-content">
        <h4>Lyric Name</h4>
        <input type="text" ng-model="lyricData" ng-click="removeOverlay()">
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeOverlay()">Cancel</a>
        <a href="#!" ng-click="removeOverlay(); add(lyricData)" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
      </div>
    </div>

  </section>


  <!-- List of Lyric Sheets -->
  <section>

    <h5>Your Lyrics for This Project</h5>

    <!-- Accordion for Lyric Sheets -->
    <ul class="collapsible" data-collapsible="accordion" ng-click="removeOverlay()" watch>

      <li ng-repeat="lyricsheet in lyrics.data" watch>
        <!-- Accordion Element Header -->
        <div class="collapsible-header">{{ lyricsheet.name }}</div>
        
        <!-- Accordion Element Body -->
        <div class="collapsible-body" ng-controller="LyricCtrl" ng-click="removeOverlay()">

          <!-- Editable Lyric Area -->
          <textarea id="lyrictext" ng-model="lyricsheet.text" class="materialize-textarea" readonly="readonly" ng-click="removeOverlay()">
          </textarea>

          <!-- Revision Button -->
          <!-- Modal Trigger for Lyric Revision -->
          <a class="waves-effect waves-light btn modal-trigger" ng-click="removeOverlay(); updateVal(lyricsheet.text)" href="#lyric-revision-modal">Create Revision</a>

          <!-- Modal Structure for Lyric Revision -->
          <div id="lyric-revision-modal" class="modal" ng-click="removeOverlay()">
            <div class="modal-content">
              <h4>Lyric Name</h4>
              <input type="text" ng-model="val" ng-click="removeOverlay()">
            </div>
            <div class="modal-footer">

              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeOverlay()">Cancel</a>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeOverlay(); add(val)">Save</a>
            </div>
          </div>

          <!-- Edit Button -->
          <!-- Toggles Editable TextArea -->
          <a class="btn" id="edit-lyrics-btn" ng-click="toggleEditable('lyrictext'); edit(lyricsheet.id, lyricsheet); removeOverlay()" href="">Edit</a>

          <!-- Delete Button -->
          <!-- Modal Trigger for Lyric Delete Confirmation -->
          <a class="waves-effect waves-light btn modal-trigger" ng-click="removeOverlay()" href="#lyric-deletion-modal">Delete</a>

          <!-- Modal Structure for Lyric Delete Confirmation -->
          <div id="lyric-deletion-modal" class="modal" ng-click="removeOverlay()">
            <div class="modal-content">
              <h4>Are You Sure That You Want To Delete This Lyric Sheet?</h4>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeOverlay(); delete(lyricsheet.id)">Yes, Really Delete</a>
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="removeOverlay()">No, Go Back To Lyrics</a>
            </div>
          </div>

        </div>
      </li>

    </ul>

  </section>

</container>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
