<div class="menu-group dark" id = 'tour3'>
<!-- <div class="menu-group-left"> -->
  <ul class="icon-left primary menu-bar">
    <li id = 'tour0'><a ui-sref='main.projects'>&#9733; ScratchTrack 1.2</a></li>
    <li id='tour1' ng-if = 'signedUp===true'><a class="left alert" ng-click= 'runTour()'>Tour Available!</a></li>
  </ul>
<!-- </div> -->

  <!-- <div class="menu-group-right"> -->
    <ul class="menu-bar primary">
      <li id ='tour4'><a ui-sref="main.pubprojects">Public</a></li> 
      <li ng-if="signedIn" id ='tour5'><a ui-sref="main.projects">Projects</a></li>
      <li><a ui-sref="main.team">About</a></li>
      <li ng-if="signedIn"><a ng-click="logOut()">Log Out</a></li>
      <li ng-if="!signedIn"><a ui-sref="public.signup">Sign Up</a></li>
      <li ng-if="!signedIn"><a ui-sref="public.signin">Sign In</a></li>
    </ul>
  <!-- </div> -->
</div>
<div ui-view id='tour6'></div>
