<div class="menu-group dark">
<div class="menu-group-left">
  <ul class="icon-left primary menu-bar">
    <li><a ui-sref='main.projects'>reQ.Body</a></li>
  </ul>
</div>

  <div class="menu-group-right">
    <ul class="menu-bar primary">
      <li><a ui-sref="main.projects">Projects</a></li>
      <li><a ng-click="logOut()">Exit</a></li>
    </ul>
  </div>
</div>

<!-- <div class="title-bar dark">
<span class="title left">Left</span>
<span class="right"><a href="#">Right</a></span>
</div>

<div class="title-bar">
<span class="title left">Left</span>
<span class="right"><a href="#">Right</a></span>
</div> -->

<div ui-view></div>
