
<div class = 'navbar-fixed' ng-controller = 'MainCtrl'>
  <nav class ='light-blue darken-4'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li ng-click ='gotoProjects()'><a href='#'>Projects</a></li>
        <li ng-click ='logOut()'><a href ='#'>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <projects></projects>
</div>