<div class = 'navbar-fixed'>
  <nav class ='light-blue darken-4'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dash">Dash</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href='/all'>All</a></li>
        <li><a href='/all'>Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/dash">Dash</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href='/all'>All</a></li>
        <li><a href='/all'>Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

