<ul class="dash-menu-bar">
  <li><a href="#" ng-click = 'projectCreated=true' zf-open='projectInfo'>Edit</a></li>
  <li><a href="#" zf-open="deleteModal2">Delete</a></li>
  <!-- <li><a ui-sref="main.projects">Back</a></li> -->
</ul>
<div class="grid-block wrap dash-row-top">

  <h1>Project Dash</h1>
  <div class="grid-content small-12">
    <br> 
    <h3>Project Name: {{projectData.name}}</h3>
    <h3 ng-if = 'projectData.description!==null'>Description: {{projectData.description}}</h3>
    <br><br>
  </div>

  <div class="grid-content small-12 medium-6 medium-order-0 left-panel">
    
    <div class="card-recordings">
      <a ui-sref="main.project_edit.recordings">
        <!-- <img src="./resources/guitar_banner.jpg"> -->
        <div class="recordings-card-divider text-center">
          Recordings
        </div></a>
      <div class="recordings-card-section">
        <ul>
          <li ng-repeat = 'recording in projectRecordings|limitTo:-3|orderBy:"updated_at"'>
            {{recording.name}}
          </li>
        </ul>
      </div>
    </div>

    <div class="card-notes">
      <a ui-sref="main.project_edit.notes">
        <!-- <img src="./resources/notes_banner.jpg"> -->
        <div class="notes-card-divider text-center">
          Notes
        </div></a>
      <div class="notes-card-section">
        <ul>
          <li ng-repeat = 'note in projectNotes|limitTo:-3|orderBy:"updated_at"'>
            {{note.name}}
          </li>
        </ul>
      </div>
    </div>

  </div>


  <div class="grid-content small-12 medium-6 medium-order-2 right.panel">
    

    <div class="card-lyrics">
      <a ui-sref="main.project_edit.lyrics">
        <!-- <img src="./resources/lyrics_banner.jpg"> -->
        <div class="lyrics-card-divider text-center">
         Lyrics
        </div></a>
      <div class="lyrics-card-section">
         <ul>
          <li class="collection-item" ng-repeat = 'lyric in projectLyrics|limitTo:-1|orderBy:"updated_at"'>
            <h5>{{lyric.name}}</h5>
            <p class ='panel-lyric'>{{lyric.text}}</P>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
  <div class="grid-content small-12 medium-order-3">
    
    <div class="card-stablature">
      <a ui-sref="main.project_edit.stablature">
        <!-- <img src="./resources/stablature_banner.jpg"> -->
        <div class="stablature-card-divider text-center">
          The 'Stablature'
        </div></a>
      <div class="stablature-card-section">
        <div ng-repeat = 'stab in projectStablature|limitTo:-1|orderBy:"updated_at"' class = 'text-center'>
          <vextab ng-model="stab.code"></vextab>
        </div>
      </div>
    </div>
  </div>

  <div zf-modal="" id="deleteModal2">
    <a zf-close="deleteModal2" class="close-button">×</a>
    <h3>Delete Project: {{project.name}}</h3>
    <p>Warning this operation can't be undone</p>
    <a ng-click='deleteProject(projectData.id)' class="alert hollow button">Delete</a>
  </div>
 
  <div zf-modal="" id="projectInfo" class="collapse large is-active" ng-show ='projectCreated===true'>
  
    <div class="grid-block vertical">
      
      <div class="dark title-bar">
        <div class="center title">Project Information</div>
      </div>
        
      <div class="grid-content padding" style="padding-top: 1rem;">
        <div class='text-right'>
          <span>Private</span>
          <div class="public-project">
            <input type="checkbox" ng-model="projectData.private" ng-true-value="0" ng-false-value="1" id="public-project">
            <label for="public-project"></label>
          </div>
          <span>Public</span><br>
        </div>  
        
        <form class = 'text-left'>
          <label>
            <h5>Project Name</h5>
            <input ng-model='projectData.name' type="text" placeholder="Name">
          </label>
          <label>
            <h5>Project Description</h5>
            <input ng-model='projectData.description' type="text" placeholder="Description">
          </label>
        </form>
        <div class = 'text-center'>
          <a ng-click='saveProjectInfo()' zf-close="" class="success expand button">Save</a>
        </div>
      </div>
    </div>
  </div>

