<ul ng-if="!public" class="dash-menu-bar" id='tour7'>
  <li><a href="#" ng-click = 'showEdit()' zf-open='projectInfo'>&#9835; Edit</a></li>
  <li><a href="#" zf-open="deleteModal2">&#9835; Delete</a></li>
  <!-- <li><a ui-sref="main.projects">Back</a></li> -->
</ul>
<div>
<div class="spaced text-center">
  <h1>Project Dash</h1>
  <p>Here you can find all the resources for this project in one place.</p>
</div>
<div class="grid-block wrap dash-row-top text-center">
  <div class="grid-content small-12">
  <br>
  <br>
    <h3>{{projectData.name}}</h3>
    <h3 ng-if = 'projectData.description'><i>{{projectData.description}}</i></h3>
    <br>
    <likebutton ng-if="public" projectid="projectId"></likebutton>
    <br>
    <br>
  </div>

  <div class="grid-content small-12 medium-6 medium-order-0 left-panel">
    
    <div class=".card-wrapper card-recordings" id='tour8'>
      <a ui-sref="{{ public ? 'main.public_view.recordings' : 'main.project_edit.recordings' }}">
        <!-- <img src="./resources/guitar_banner.jpg"> -->
        <div class="recordings-card-divider text-center">
          Recordings
        </div></a>
      <div class="recordings-card-section">
        <ul>
          <li ng-repeat = 'recording in projectRecordings|limitTo:-1|orderBy:"updated_at" : true '>
            <recordingentry resource="recording"></recordingentry> 
          </li>
        </ul>
      </div>
    </div>

    <div class=".card-wrapper card-lyrics" id='tour9'>
      <a ui-sref="{{ public ? 'main.public_view.lyrics' : 'main.project_edit.lyrics' }}">
        <!-- <img src="./resources/lyrics_banner.jpg"> -->
        <div class="lyrics-card-divider text-center">
         Lyrics
        </div></a>
      <div class="lyrics-card-section">
         <ul>
          <li class="collection-item" ng-repeat = 'lyric in projectLyrics|limitTo:-1|orderBy:"updated_at" : true'>
            <lyricsentry resource="lyric"></lyricsentry>
        <!--     <h5>{{lyric.name}}</h5>
            <p class ='panel-lyric'>{{lyric.text}}</P> -->
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="grid-content small-12 medium-6 medium-order-2 right.panel">
     <div class=".card-wrapper card-stablature" id='tour11'>
      <a ui-sref="{{ public ? 'main.public_view.stablature' : 'main.project_edit.stablature' }}">
        <!-- <img src="./resources/stablature_banner.jpg"> -->
        <div class="stablature-card-divider text-center">
          Tablature
        </div></a>
      <div class="stablature-card-section">
        <div ng-repeat = 'stab in projectStablature|limitTo:-1|orderBy:"updated_at" : true' class = 'text-center'>
          <stabentry resource="stab"></stabentry>
          <!-- <vextab ng-model="stab.code"></vextab> -->
        </div>
      </div>
    </div>

    <div class=".card-wrapper card-notes" id='tour10'>
      <a ui-sref="{{ public ? 'main.public_view.notes' : 'main.project_edit.notes' }}">
        <!-- <img src="./resources/notes_banner.jpg"> -->
        <div class="notes-card-divider text-center">
          Notes
        </div></a>
      <div class="notes-card-section">
        <ul>
          <li ng-repeat = 'note in projectNotes|limitTo:-1|orderBy:"updated_at" : true'>
            <noteentry resource="note"></noteentry>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div zf-modal="" animation-out="slideOutUp" id="deleteModal2">
    <a zf-close="deleteModal2" class="close-button">×</a>
    <h4>Are You Sure That You Want To Delete This Entry?</h4>
    <a class="alert button" ng-click="deleteProject(projectData.id)">Confirm Delete</a>
    <a zf-close="" class="button">Go Back</a>
  </div>
 
  <div zf-modal="" id="projectInfo" ng-show="projectCreated" animation-out="slideOutUp" class="collapse large is-active">
  
    <div class="grid-block vertical">
      
      <div class="dark title-bar">
        <div class="center title">Project Information</div>
      </div>
        
      <div class="grid-content padding" style="padding-top: 1rem;">
        <div class='text-right'>
          <span>Private</span>
          <div class="public-project">
            <input type="checkbox" ng-model="updatedInfo.private" ng-true-value="0" ng-false-value="1" id="public-project">
            <label for="public-project"></label>
          </div>
          <span>Public</span><br>
        </div>  
        
        <form class = 'text-left' ng-submit="saveProjectInfo()">
          <label>
            <h5>Project Name</h5>
            <input ng-model='updatedInfo.name' type="text" placeholder="Name">
          </label>
          <label>
            <h5>Project Description</h5>
            <input ng-model='updatedInfo.description' type="text" placeholder="Description">
          </label>
          <div class = 'text-center'>
            <button ng-click='saveProjectInfo()' type="submit" zf-close="" class="success button">Save</button>
            <button zf-close="" class="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
