 <div class="text-center" id='tour6'>
    <section class="spaced">
      <h1>Projects</h1>

      <p>
        Here you can view all of your projects or create a new project.
      </p>
    </section>
    <br>
    
    <div ng-if="!public" class="grid-block">
      <div class="grid-block small-12 medium-4 medium-offset-4">
        <a id = 'tour5' ng-click='createProject()' class="success expand button">Create New Project</a>
      </div>
    </div>

    <h3 ng-if="!public">Latest Project You've Worked on:</h3>
  </div>
  <br>
<div class="grid-block text-center">
  <div ng-if='projects.length>0' class="grid-container small-11 medium-3" ng-repeat="project in projects|limitTo:-1|orderBy:'updated_at'">
    <a ui-sref="{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit({id:project.id})' }}">
      <div class="dark card">
        <div class="card-divider project-recent">
          {{project.name}}
        </div>
      </div>
    </a>
  </div>
</div>
<br>

  <div class="grid-block">
    <div class="grid-block small-10 medium-8 small-offset-1 medium-offset-2">
      <div class = 'grid-content'>
        <form id='tour4' class='project-search'>
          <label>
            <input class = 'projects-seach' ng-model="searchText" type="search" placeholder="Search Projects">
          </label>
        </form>
      </div>
    </div>
  </div>
<hr />
  <div class="grid-block small-12 medium-10 medium-offset-1 small-up-1 medium-up-2">
    <div class="grid-block small-12 medium-6" ng-repeat='project in projects|toArray|filter:searchText'> 
      <div class='grid-content'>  
       <a ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit({id:project.id})' }}">
       <div class="dark card text-center">
          <div class="card-divider project-recent">
            {{project.name}}
          </div>
        </div></a>
        <div>
        <p>Description:{{project.description}}</p>
        <p>Created at: {{project.created_at*1000|date}}</p>
        <p>Updated at: {{project.updated_at*1000|date}}</p>
        <p ng-if="!(public || project.private)">Likes: {{project.likes}}</p>
        <likebutton ng-if="public" project="project"></likebutton>
        <a ng-if="!public" zf-open='deleteModal' class="alert expand hollow text-center button">Delete Project</a> 
        </div>

        <hr />
        </div>  
        <div ng-if="!public" zf-modal="" id="deleteModal" animation-out="slideOutUp">
          <a zf-close="deleteModal" class="close-button">×</a>
          <h3>Delete Project: {{project.name}}</h3>
          <p>Warning this operation can't be undone</p>
          <a ng-click='deleteProject(project.id)' class="alert hollow button">Delete</a>
        </div>
    </div>
  </div>

  <zf-notification-set id="main-notifications" position="top-right"></zf-notification-set>
