<div class = 'text-center'>
  <div class="grid-block">
    <div class="grid-container small-12 text-left">
      <a ng-click='createProject()' class="success expand button">Create New Project</a>
      <h1>Projects</h1>
    </div>
  </div>
  <h3>Latest Projects You've Worked on</h3>
  <br>
</div>
<div class="grid-block text-center">
  <div ng-if='projects.length>0'class="grid-container small-12 medium-3" ng-repeat="project in projects|limitTo:-3|orderBy:'updated_at'">
    <a ui-sref = "main.project_edit({id:project.id})"><div class="dark card">
      <div class="card-divider project-recent">
        Name: {{project.name}}
      </div>
      <div class="card-section">
        <p>Description: {{project.description}}</p>
      </div>
    </div></a>
  </div>
</div>
<br>

<div class="grid-block text-center">
  <div class="grid-container small-11">
    <form class='project-search'>  
      <label>
        <input class = 'projects-seach' ng-model="searchText" type="search" placeholder="Search Project">
      </label>
    </form>      
  </div>
</div>

<div class="grid-block" ng-repeat='project in projects|toArray|filter:searchText'>
  <div class="grid-container small-10">
    <br>
    <div class="primary title-bar dark">
      <span class="title left">Project:{{project.name}}</span>
      <span class="right">
        <a ui-sref = "main.project_edit({id:project.id})">Go</a>
      </span>
    </div>   
    <div class="card"> 
      <div class="card-section">
        <p>Description: {{project.description}}</p>
        <p>Created at: {{project.created_at*1000|date}}</p>
        <p>Updated at: {{project.updated_at*1000|date}}</p>
      </div>
    <div class="text-center grid-container small-3">
      <a  zf-open='deleteModal' class="alert hollow button">Delete Project</a>
    </div>
      <div zf-modal="" id="deleteModal">
        <a zf-close="deleteModal" class="close-button">×</a>
        <h3>Delete Project: {{project.name}}</h3>
        <p>Warning this operation can't be undone</p>
        <a ng-click='deleteProject(project.id)' class="alert hollow button">Delete</a>
      </div>
    </div>  
  </div>
</div>
  

