 <div class="text-center">
    <section ng-if="!public" class="spaced">
      <h1>My Projects</h1>

    </section>

    <section ng-if="public" class="spaced">
      <h1>All Projects</h1>
    </section>

    <br>
    <div ng-if="!public" class="grid-block">
      <div class="grid-block small-12 medium-4 medium-offset-4">
        <a ng-click='createProject()' class="success expand button">Create New Project</a>
      </div>
    </div>
  </div>
<hr />

  <div class="grid-block">
    <div class="grid-block small-10 medium-8 small-offset-1 medium-offset-2">
      <div class = 'grid-content'>
        <form class='project-search' id='search-input'>
          <label>
            <input class = 'projects-seach' ng-model="searchText" type="search" placeholder="Search Projects">
          </label>
        </form>
      </div>
    </div>
  </div>
  <div class="small-12 medium-10 medium-offset-1 small-up-1 medium-up-2 text-center">
    <ul class="sort menu-bar">
      <li><a href="#" ng-click="sortBy('-created_at')">&#9839; Sort By Creation Date</a></li>
      <li><a href="#" ng-click="sortBy('-udated_at')"> &#9837; Sort By Update Date</a></li>
    </ul>
  </div>
  <br>

  <div class="grid-block small-12 medium-10 medium-offset-1 small-up-1 medium-up-2">
    <div class="grid-block small-12 medium-6" ng-repeat='project in projects|toArray| orderBy: sort.sortField: sort.sortDirection | filter:searchText'> 
      <div class='grid-content'>  
        <div class="dark card text-center">
          <div class="card-divider project-recent">
            {{project.name}}
          </div>
        </div>

        <p ng-if="project.description"><i>{{project.description}}</i></p>
        <div class="grid-content"> 
          <div class="align-justify grid-block small-12 medium-12 small-offset-2 medium-offset-2">
            <p>Created on {{project.created_at*1000|date}}</p>
            <p>Last edited on {{project.updated_at*1000|date}}</p>
          </div>
          <div class="align-justify grid-block small-12 medium-12 small-offset-1 medium-offset-1">
            <i class="medium material-icons" ng-if="!public" ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit.recordings({id:project.id})' }}">mic_none</i>
            <i class="medium material-icons" ng-if="!public" ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit.stablature({id:project.id})' }}">library_music
      </i>
            <i class="medium material-icons" ng-if="!public" ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit.lyrics({id:project.id})' }}">assignment</i>
            <i class="medium material-icons" ng-if="!public" ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit.notes({id:project.id})' }}">library_books</i>
          </div>
        </div>
        <br>

        <p ng-if="!(public || project.private)">Likes: {{project.likes}}</p>
        <likebutton ng-if="public" projectid="project.id"></likebutton>
        <a ng-if="!public" ui-sref = "{{ public ? 'main.public_view({id:project.id})' : 'main.project_edit({id:project.id})' }}" class="alert expand hollow text-center button">View Project</a>
        <hr />
      </div>      
    </div>
  </div>

  <zf-notification-set id="main-notifications" position="top-right"></zf-notification-set>
