<pre>
  {{ projects | json }}
</pre>

<div class="grid-block small-12 medium-10 medium-offset-1 small-up-1 medium-up-2">
  <div class="grid-block small-12 medium-6" ng-repeat='project in projects|toArray|filter:searchText'> 
    <div class='grid-content'>  
     <a ui-sref = "main.public_view({id:project.id})">
     <div class="dark card text-center">
        <div class="card-divider project-recent">
          {{project.name}}
        </div>
      </div></a>
      <div>
        <p>Description:{{project.description}}</p>
        <p>Created at: {{project.created_at*1000|date}}</p>
        <p>Updated at: {{project.updated_at*1000|date}}</p>
      </div>
      <hr />
      </div>  
  </div>
</div>
