<div ng-controller="RecordingCtrl">

  <h5>Recording Your Ideas</h5>
    <div>recording thingy here</div>
    <a class="waves-effect waves-light btn modal-trigger" href="#lyric-creation-modal">Save</a>
  <h5>Recordings for this Project</h5>
  <ul class="collapsible" data-collapsible="accordion" watch>
    <li ng-repeat="recording in mockData">
      <div class="collapsible-header">{{recording.created_at}} - {{recording.name}}</div>
       <div class="collapsible-body">
          recording thingy here
          <div ng-if="recording.description">Description: {{recording.description}}</div>
          <br>
          <a class="waves-effect waves-light btn">Edit</a>
          <a class="waves-effect waves-light btn modal-trigger" href="#lyric-deletion-modal">Delete</a>
       </div>
    </li>
  </ul>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>

