<div>

  <h5>Recording Your Ideas</h5>
    <div>recording thingy here</div>
    <a class="waves-effect waves-light btn modal-trigger" href="#lyric-creation-modal">Save</a>
  <h5>Recordings for this Project</h5>
  <ul class="collapsible" data-collapsible="accordion" watch>
    <li ng-repeat="recording in mockData">
      <div class="collapsible-header">{{recording.created_at}} - {{recording.name}}</div>
        <div class="collapsible-body">
          recording thingy here
          <div ng-if="recording.description || editing">Description: {{recording.description}}</div>
          <br>
          <button ng-hide="editing" class="waves-effect waves-light btn">Edit</button>
          <button ng-show="editing" class="waves-effect waves-light btn">Save</button>
          <button class="waves-effect waves-light btn modal-trigger" ng-click="delete(recording.id)">Delete</button>
        </div>
    </li>
  </ul>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>

