<container>
  <section>
    <h5>Create New Thingy</h5>
    <create-lyric></create-lyric>
    <create-note></create-note>
    <create-recording></create-recording>
    <create-stablature></create-stablature>
  </section>

  <section>
    <h5>Pertinent Stuff</h5>
    <pertinent-lyric-info></pertinent-lyric-info>
    <pertinent-note-info></pertinent-note-info>
    <pertinent-recording-info></pertinent-recording-info>
    <pertinent-stablature-info></pertinent-stablature-info>
  </section>

  <section>
    <h5>Listing</h5>
    <listing-for-lyrics></listing-for-lyrics>
    <listing-for-notes></listing-for-notes>
    <listing-for-recordings></listing-for-recordings>
    <listing-for-stablature></listing-for-stablature>
  </section>

</container>
