<landingbar></landingbar>

<div class="landing-form align-center grid-block">

  <div class="medium-3">
    <form name="signinForm" ng-submit="signinUser()" class="form-group" novalidate>

      <label class="form-header">E-Mail:</label>
      <input type="email" required ng-model="email" name="emailField" ng-minlength="7" class="input-field" placeholder="Enter your e-mail"/>

      <div class="form-group"> 
        <div class="validation-error" ng-messages="signinForm.emailField.$error" ng-if="signinForm.emailField.$touched">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Not a valid e-mail</div>
        </div>
      </div>     

      <label class="form-header">Password:</label>
      <input type="password" required ng-model="password" name="passwordField" ng-minlength="6" ng-minlength="12" placeholder="Enter your password"/>

      <div class="form-group"> 
        <div class="validation-error" ng-messages="signinForm.passwordField.$error" ng-if="signinForm.passwordField.$touched" class="validation-error">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Password must be at least 6 characters</div>
          <div ng-message="minlength">Password must less than 12 characters</div>
        </div>
      </div>  

      <div class="align-center grid-block">
        <button class="large button expand form-btn" type="submit" href="#">Log In</button>
      </div>
      <br>
      <div class="align-center grid-block">
      </div>
    </form>
  </div>

</div>

