<div class="anim-fade landing-form">
  <div class="row small-6 grid-content">
    <form name="signinForm" class="form-group" novalidate>
      <div class="form-header">E-Mail:</div>
      <input type="email" required ng-model="email" name="emailField" ng-minlength="7" class="input-field" placeholder="Enter your e-mail" ng-blur="buttonControl()"/><br>
      <div class="form-group"> 
        <div class="validation-error" ng-messages="signinForm.emailField.$error" ng-if="signinForm.emailField.$touched">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Not a valid e-mail</div>
        </div>
      </div>     

      <div class="form-header">Password:</div>
      <input type="password" required ng-model="password" name="passwordField" ng-minlength="6" ng-minlength="12" placeholder="Enter your password" ng-blur="buttonControl()"/>
      <div class="form-group"> 
        <div class="validation-error" ng-messages="signinForm.passwordField.$error" ng-if="signinForm.passwordField.$touched">
          <div ng-message="required">This field is required</div>
          <div ng-message="minlength">Password must be at least 6 characters</div>
          <div ng-message="minlength">Password must less than 12 characters</div>
        </div>
      </div>     
      <br>
      <a class="large button disabled" href="#" ng-submit="signinUser()" ng-click="signinUser()" id="submit-btn">Submit</a>
      <br><br>
      <p>Don't have an account? <a ui-sref='public.signup'>Sign Up!</a>
    </form>
  </div>
</div>

