<container>
  <section>
   <h5>Create New Tabs</h5>
    <div class="vex-tabdiv" editor="true" ng-bind="code">
      <canvas class="vex-canvas">
      <div class="editor-error">
      <textarea class="editor">
      </textarea>
    </div>
  </section>
  <button class="waves-effect waves-light btn" ng-click="create()">Submit Tabs</button>

  <section>
    <h5>Pertinent Stuff</h5>
    <p>stablature</p>
  </section>

  <section>
    <h5>Listing</h5>
    <p>stablature</p>
  </section>
<vextab code="code"> 
</vextab>
</container>

<script type="text/javascript">
  var jq = $
</script>
<script src="/js/vex.js"></script>
<script type="text/javascript">
  $ = jq;
</script>


