
<div class="grid-block">
  <div class="grid-block text-center">
    <div class="grid-content noscroll small-8 small-offset-2">
      
      <section class="spaced"> 
        <h1>Stablature</h1>

        <p ng-if="!public">
          Here you can create guitar tabs and sheet music for your project.
        </p>
        <p>
          Guitar tabs and sheet music for the project
        </p>
      </section>
 
      <zf-accordion ng-if="!public" id="create-resource" auto-open="false" >
        <zf-accordion-item class="title" title="Create New Tab">
          <div id="create-stab-content">
          <label>Title:</label>
          <input type="text" ng-model="stabInfo.name" placeholder="Enter Title Here."></input>

          <label>Description:</label>
          <input type="text" ng-model="stabInfo.description" placeholder="Enter Description Here.">
          </input>


          <vextab ng-model="stabInfo.code"></vextab>
          <br>
          <a class="button" zf-open="learnHowModal">How To Write Tabs</a>
          <br>
          <textarea ng-model="stabInfo.code"></textarea>
        </div>

        <a class="button" ng-click="submit()">SUBMIT</a>
        <a class="button" ng-click="closeEditor()">CANCEL</a>
        <div ng-show="submitError">Oops. Looks like there's a problem with your vex code.</div>

        <div zf-modal="" id="learnHowModal">
          <div>
            <p>{{tabExplanation}}</p>
            <br>
            <a class="button" href="http://www.vexflow.com/vextab/tutorial.html" target="_blank">Tutorial</a>
            <a zf-close="" class="button">Close</a>
          </div>
        </div>

        </zf-accordion-item>
      </zf-accordion>
      <br> 
      <br>

      <input type="text" placeholder="Search Stablature..." ng-model="stabSearch">
      <div class="title-bar">
        <span class="title center">Your Stablature for This Project:</span>
      </div>
      <sort></sort>
      <br>
      <div class="grid-block">
        <div class="grid-block align-justify">
          <ul ng-repeat="stab in stabList | orderBy: sort.sortField: sort.sortDirection | filter: stabSearch">
            <div class="grid-block">
              <li class="spaced grid-content" style="list-style: none;" >
                <h5>{{ formatDate(stab.created_at) }} - <strong>{{stab.name}}</strong></h5>
                <div>
                  <vextab ng-model="stab.code" notation="false"></vextab>
             
                  <p><em>{{stab.description}}</em></p>

                  <a ng-if="!public" class="button" ng-click="openEditor(stab)">CREATE REVISION</a>
                  <a ng-if="!public" class="button" ng-click="">EDIT</a>
                  <a ng-if="!public" class="button" zf-open="deleteModal">DELETE</a> 
                </div>

                <div ng-if="!public" zf-modal="" id="deleteModal">
                  <div>
                    <h4>Are You Sure That You Want To Delete This Entry?</h4>
                    <a class="alert button" ng-click="delete(stab.id)">YES, REALLY DELETE</a>

                    <a zf-close="" class="button">NO, GO BACK TO LIST</a>
                  </div>
                </div>

              </li>
            </div>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


