
<div class="text-center">
  <section ng-if="!public" class="spaced">
    <h1>About ScratchTrack</h1>
  </section>
</div>

<div class="align-center grid-block"><h3>Manage Your Song-Writing Workflow on the Go</h2></div>
<div class="align-center grid-block">
  <div class="grid-block small-6">
    <br>
    <p>Lucas ipsum dolor sit amet kaleesh bothan tusken raider borvo geonosis firrerreo jerjerrod caamasi yoda shaddaa. Kessel ventress moff iego bren dash r5-d4. Hutt oppo woostoid firrerreo zhell darth. Fett plagueis squib yuvernian. Daala aqualish trandoshan mantell raymus ablajeck. Besalisk t88 cody panaka allana durron orus hallotan. Vagaari dengar mon terrik sneevel. </p>
  </div>
</div>


<hr>

<div class="text-center">
  <h1 class="team-header">Our Team:</h1>
</div>

<div class="align-center grid-block" id="team-entry">
  <div class="dark card" ng-repeat="person in team" ng-model="team">
    <img src="{{person.img_src}}">
    <div class="card-divider">
      {{person.title}}
    </div>
    <div class="card-section" id="team-field">
      <h4>{{person.name}}</h4>
      <h5>Special Power: {{person.special}}</h5>
      <p>{{person.bio}}</p>
    </div>
  </div>
</div>
